$white: #fff;
$light-gray: #f5f5f5;
$light-medium-gray: #dbdbdb;
$gray: #c9c9c9;
$dark-gray: #969696;
$black: #2e2e2e;

// other options:

$very-light-yellow: #fff1cf;
$yellow: #ffd369;
$light-blue: #6ed9f0;
$blue: #015668;
$dark-blue: #263f44;